@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-primary: #fbbf24; /* indigo-900 */
  --color-secondary: #581c87; /* purple-900 */
  --color-accent: #7c3aed;
  --color-neutral: #0f172a;
  --color-base-100: #020617;

  --color-info: #38bdf8;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;
}
